<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="microservice">
            <h2><span>Microservice</span> {{microservice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{microservice.name}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{microservice.status}}</span>
                </dd>
                <dt><span>Catalog</span></dt>
                <dd>
                    <div *ngIf="microservice.catalog">
                        <a [routerLink]="['/catalog', microservice.catalog?.id, 'view']">{{microservice.catalog?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/microservice', microservice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
